.vs/ClrApp/DesignTimeBuild/.dtbcache.v2
.vs/ClrApp/FileContentIndex/2f1aae4a-323d-444c-94dc-539e9b22008a.vsidx
.vs/ClrApp/FileContentIndex/559f1d2e-7355-439b-8e17-739a0841be7c.vsidx
.vs/ClrApp/FileContentIndex/5cc15cfb-1da6-4f41-b910-cbe9284af0fb.vsidx
.vs/ClrApp/FileContentIndex/81962214-2638-41de-af61-3a8a042f5d69.vsidx
.vs/ClrApp/FileContentIndex/read.lock
.vs/ClrApp/v17/.futdcache.v2
.vs/ClrApp/v17/.suo
.vs/ClrApp/v17/Browse.VC.db
.vs/ClrApp/v17/Solution.VC.db
.vs/ClrApp/v17/ipch/6bd2fdb176e67ed2.ipch
.vs/ClrApp/v17/ipch/AutoPCH/57dbe1fbd9e1d387/CLRAPP.ipch
.vs/ProjectEvaluation/clrapp.metadata.v5.1
.vs/ProjectEvaluation/clrapp.projects.v5.1
